@charset "UTF-8";
/* @font-face {
    font-family: 'sw';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Subway-Footlong.eot);
    src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
         url(../font/Subway-Footlong.woff) format('woff'),
         url(../font/Subway-Footlong.ttf) format('truetype');
} */

/* 내용없어도 세로 스크롤바 나오게 */
/* html {overflow-y: scroll;} */


*, :before, :after {box-sizing: border-box;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0.1);}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
/* a태그컬러는 디자인시안상에 가장많은 컬러로 변경해야함 */
a {text-decoration: none; color: #000;}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    /* 모바일 탭컬러 */
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    -webkit-appearance:none;
    appearance: none;
}

/* textarea 리사이즈기능 빼기 */
textarea {resize: none}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사 파리 브라우져의 텍스트 자동확대 방지
*/
/* 벤더프리픽스(제조사접두어)를 이용하여 적용해야하는 브라우저별 특수속성에 사용
-webkit-: 크롬,사파리
-moz-: 파폭
-ms-: 익스
-o-: 오페라 */
body {line-height: 1.5; -webkit-text-size-adjust:none}




/************** 공통스타일 *************/
body,input,button,select,textarea,table {
    font-family:'Noto Sans KR',sans-serif;
    font-size: 15px;
    color:#000;
}




/* 스킵네비게이션 */
#skipNavi {position: relative;}
#skipNavi a { position: absolute; left:0; top:-9999px; width:100%; line-height: 40px; text-align: center; background: #ddd; font-size: 14px; }
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus { top:0; }

/* 글자선택시 배경색,글자색 변경 */
/* ::-moz-selection {
    background-color: #ef151e;
    color: #ffffff
}
::selection {
    background-color: #ef151e;
    color: #ffffff;
} */

/* legend,caption,메뉴제목,섹션제목 블라인드
legend(폼제목),caption(표제목)을 시각적으로 보이지않게처리
*/
legend,caption,.blind,input[type="checkbox"],input[type="radio"],input[type="file"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* overflow:hidden으로 float해제 못할경우 사용 */
.clearfix:after {
    content: '';
    display: block;
    clear:both;
}

/* 폰트컬러 공통 */
/* .orange {color:#eb6242 !important} */

/* 버튼 공통 */
.btn_detail {
    border: 1px solid #6e0000;
    display: block;
    text-align: center;
    width: 170px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #6e0000;
}

.btn_white {
    display: inline-block;
    line-height: 46px;
    border:2px solid #009223;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color:#009223;
    text-align: center;
    box-sizing: border-box;
    margin:0 4px;
}
.btn_point {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    background: #009223;
    margin:0 4px;
}
.btn_point:after {
    content: '';
    display: inline-block;
    width:21px;
    height:16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left:5px;
}

.btn_line {
    display: inline-block;
    line-height: 26px;
    height: 30px;
    color:#fff;
    border:2px solid #fff;
    border-radius: 30px;
    padding: 0 12px;
}






/* 폼요소 공통 */
/* placeholder 공통컬러 */
/* 앞에 태그제거시 input,textarea 동시 적용 */
input::-webkit-input-placeholder {color:#bbbbbb;}
input:-moz-placeholder {color:#bbbbbb;} 
input::-moz-placeholder {color:#bbbbbb; opacity:1;}
/* 익스는 우선순위 높여야 색이 나옴 */
input:-ms-input-placeholder {color:#bbbbbb !important;}

textarea::-webkit-input-placeholder {color:#bbbbbb;}
textarea:-moz-placeholder {color:#bbbbbb;} 
textarea::-moz-placeholder {color:#bbbbbb; opacity:1;}
textarea:-ms-input-placeholder {color:#bbbbbb;}

/* ie10,ie11 input x버튼 가리기 */
input[type="text"]::-ms-clear {
    display: none;
}
/* ie10,ie11 input password 아이콘 가리기 */
input[type="password"]::-ms-reveal {
    display: none;
}

/* 인접형제선택자로 checkbox다음에 오는 label 선택 */
input[type="checkbox"] + label { position: relative; padding-left: 40px; cursor: pointer; color:#292929; }
input[type="checkbox"] + label em {color:#009223;}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left:0;
    top:-2px;
    width:26px;
    height: 26px;
    border:2px solid #dddddd;
    border-radius: 50%;
}
/* 일반적 방식 */
/* input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50% 50%;
    background-size: 18px;
} */
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left:5px;
    top:0px;
    width:0px;
    height:20px;
    background: url(../images/icon_checkbox.png) no-repeat;
    transition:all 0.2s;
}
input[type="checkbox"]:checked + label:after { width:24px; }

/* input text 공통 */
input {outline: none;}
input[type="text"] {
    background: #fff;
    height: 45px;
    width:100%;
    border:none;
    padding: 0 45px 0 15px;
    box-sizing: border-box;
}


/* select 공통 */
.select_wrap {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
}
.select_wrap:after {
    content: '';
    position: absolute;
    right: 15px;
    top:50%;
    width:9px;
    height:5px;
    background: url(../images/arr_select.png) no-repeat 50%;
}
/* 익스 화살표빼기 */
select::-ms-expand {
    display: none;
}
.select_wrap select {
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-size: 13px;
    outline: none;
    background: #fff;
}




/* textarea 공통 */
textarea {
    background: #f8f8f8;
    border:none;
    width:100%;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}

/* input file 공통 */
.file_wrap {
    border:2px solid #dddddd;
    display: inline-block;
    position: relative;
    width:466px;
}
.file_wrap input[type="text"] {
    background: #fff;
    height: 41px;
}
.file_wrap label {
    position: absolute;
    right:0;
    top:0;
    width:98px;
    height:41px;
    cursor: pointer;
    text-align: center;
    line-height: 41px;
    color:#009223;
    font-weight: 500;
    background: #fff;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:2px;
    height:16px;
    margin-top:-8px;
    background: #e8e8e8;
}


/* 게시판 테이블 공통 */
.board_wrap {
    border-top: 1px solid #000;
}

/* 표안의 데이터가 길경우 칸이 자동으로 늘어나지못하게함 */
.board_wrap table {table-layout: fixed;}
.board_wrap table th {font-weight: normal; background: #f5f5f5;}
.board_wrap table .th01 {width:10%;}
.board_wrap table .th03 {width:10%;}

.board_wrap table th,
.board_wrap table td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 18px 0;
    text-align: center;
}
.board_wrap table td {color:#555; padding:11px 0;}
.board_wrap table td a {color:#555;}

/* 테이블 두번째칸 왼쪽정렬 */
.board_wrap table tbody td:nth-child(2) {
    text-align: left;
}


/* 게시판 하단 선 스타일 */
.board_wrap table tr:last-child td {
    border-bottom: 1px solid #ddd;
}

/* 게시판 제목 말줄임 */
.board_wrap table .link_board {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    /* hidden이 되려면 가로길이가 있어야하며
    width로 잡을경우 글자가 짧으면 빈공간 클릭이 되므로
    max로 지정하여 글자가 길경우만 크기가 잡히게함 */
    max-width: 90%;
    text-overflow: ellipsis;
}

/* 게시판 pagination 공통 */
/* sprite pc 아이콘 공통 */
.icon {position: relative;}
.icon:after {
    content: '';
    position: absolute;
    left:50%;
    top:50%;
    width:10px;
    height: 10px;
    transform:translate(-50%,-50%);
    background:url(../images/sprite_pc.png) no-repeat;
}
.board_wrap .pagination_wrap {
    text-align: center;
    padding-top: 20px;
}
.board_wrap .pagination_wrap .pagination {
    display: inline-block;
    /* 인라인블럭하단에 간격생길경우 사용 */
    vertical-align: top;
}
.board_wrap .pagination .btn_paging {
    float: left;
    line-height: 40px;
    height:40px;
}
.board_wrap .pagination .first,
.board_wrap .pagination .prev,
.board_wrap .pagination .next,
.board_wrap .pagination .last {
    width:22px;
    text-indent: -9999px;
}
.board_wrap .pagination .first.icon:after {
    width:14px;
    height: 14px;
    background-position: -396px -310px;
}
.board_wrap .pagination .prev.icon:after {
    width:8px;
    height: 14px;
    background-position: -369px -182px;
}
.board_wrap .pagination .next.icon:after {
    width:8px;
    height: 14px;
    background-position: -30px -431px;
}
.board_wrap .pagination .last.icon:after {
    width:14px;
    height: 14px;
    background-position: -443px -388px;
}

.board_wrap .pagination .prev {margin-right: 8px;}
.board_wrap .pagination .next {margin-left: 8px;}

.board_wrap .pagination .num {
    width:40px;
    border:1px solid #eee;
    box-sizing: border-box;
    margin:0 5px;
    background: #fff;
}
.board_wrap .pagination .num.on {
    background: #bb0841;
    border-color:#bb0841;
    color:#fff;
}




/* 파일 다운로드 */
.btn_down {
    text-indent: -9999px;
    display: inline-block;
    padding: 7px 3px;
    position: relative;
}
.btn_down:before {
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    background: #000;
    display: none;
}
.btn_down:hover:before {display: block;}
.btn_down:hover:after {transform: translateY(-1px);}
.btn_down:after {
    content: '';
    display: block;
    width:20px;
    height: 20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
}

/* 파일다운로드 아이콘 sprite */
.btn_down.mp4:after {background-position: 0 0;}
.btn_down.pdf:after {background-position: -125px 0;}
.btn_down.excel:after {background-position: -100px 0;}
.btn_down.word:after {background-position: -75px 0;}
.btn_down.ppt:after {background-position: -50px 0;}
.btn_down.txt:after {background-position: -26px 0;}

/* ease */
.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}

/* 슬라이더 페이지네이션 공통 */
.swiper-pagination {bottom:20px;}
.swiper-pagination span {
    width: 10px;
    height: 10px;
    background: #eee;
    margin: 0 5px;
    opacity: 1;
    transition: all 0.2s;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: #004a98;
    border-radius: 10px;
}



body.on {overflow: hidden;}

/* 최소단말사이즈로 지정 */
#wrap {min-width: 320px;}

#header {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 0 15px;
    position: relative;
}
#header .logo {
    float: left;
    margin-top: 17px;
}

#header .btn_open {
    position: absolute;
    right: 0;
    top: 11px;
    width: 44px;
    height: 40px;
    background: url(../images/gnb_open.png) no-repeat 50% 50%;
    background-size: 22px;
    border: none;
    text-indent: -9999px;
    outline: none;
}

/* gnb */
#header .gnb_wrap {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 85px);
    height: 100%;
    background: #fff;
    z-index: 1000;
    overflow: auto;
    transform: translateX(100%);
    transition: all 0.5s;
}
#header .gnb_wrap.on {
    transform: translateX(0);
}

#header .gnb_top {
    padding: 10px 15px;
    height: 60px;
}
#header .gnb_top .gnb_util {float: left;}
#header .gnb_top .gnb_util li {
    float: left;
    margin-top: 8px;
    position: relative;
}
#header .gnb_top .gnb_util li + li {
    margin-left: 25px;
}
#header .gnb_top .gnb_util li + li:before {
    content: '';
    position: absolute;
    left: -12px;
    top: 5px;
    width: 1px;
    height: 13px;
    background: #666;
}

#header .gnb_top .btn_close {
    float: right;
    width: 40px;
    height: 40px;
    background: url(../images//menu_close.png) no-repeat 50% 50%;
    background-size: 20px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

#header .gnb_bottom {
    height: calc(100% - 60px);
    overflow: auto;
}
#header .gnb>li>a {
    display: block;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
#header .gnb>li>a:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 25px;
    width: 28px;
    height: 16px;
    background: url(../images/gnb_arrow.png) no-repeat 50% 50%;
    background-size: 14px;
}


#header .gnb .depth2 {
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
    display: none;
}
#header .gnb .depth2>li>a {
    display: block;
    line-height: 45px;
    padding-left: 30px;
}
#header .gnb .depth2_more>li>a span {
    margin-left: 5px;
    position: relative;
}
#header .gnb .depth2_more>li>a span:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    width: 11px;
    height: 1px;
    background: #666;
    transition: all 0.5s;
}
#header .gnb .depth2_more>li>a span:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 5px;
    width: 1px;
    height: 11px;
    background: #666;
    transition: all 0.5s;
}

/* 클릭이벤트 */
#header .gnb>li>a.on {
    color: #004a98;
}
#header .gnb>li>a.on:after {
    background-image: url(../images/gnb_arrow_on.png);
}
#header .gnb .depth2_more>li>a.on {
    font-weight: 500;
}
#header .gnb .depth2_more>li>a.on span:after {
    transform: rotate(-90deg);
    background-color: #004a98;
}
#header .gnb .depth2_more>li>a.on span:before {
    display: none;
}


#header .gnb .depth2 .depth3 {
    padding: 15px 0 15px 50px;
    background: #e7f3ff;
    display: none;
}
#header .gnb .depth2 .depth3>li>a {
    line-height: 30px;
    font-size: 13px;
    color: #666;

}

#header .gnb_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    display: none;
}


/**************** 공통 *******************/
.tit_wrap {text-align: center;}
.tit_wrap h3 {
    font-size: 14px;
    font-weight: 500;
}
.tit_wrap h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}


/* 메인비주얼 슬라이더*/
#container .main_slider .swiper-slide img {
    width: 100%;
}

/************* 브랜드 ************/

#container .brand_wrap { padding-top: 50px;}
#container .brand_slider_wrap {padding-top: 30px;}
#container .brand_slider {
    padding: 60px 0;
}
#container .brand_slider .swiper-slide {
    width: 300px;
    position: relative;
}
#container .brand_slider .swiper-slide-active a {
    box-shadow: 2px 3px 15px rgb(219 219 219 / 60%);
    transform: scale(1.1);
    transition: all 0.8s;
}

#container .brand_slider .swiper-slide a {
    display: block;
    border: 1px solid #eee;
    height: 400px;
    padding: 20px;
}

#container .brand_slider .swiper-slide p {
    font-size: 12px;
    color: #666;
}
#container .brand_slider .swiper-slide p.new {
    color: #ff0101;
}
#container .brand_slider .swiper-slide h3 {
    font-size: 16px;
    font-weight: 500;
}
#container .brand_slider .swiper-slide img {
    position: absolute;
    right: 80px;
    bottom: 30px;
}

/* 프로그래스바 */
.swiper-container-horizontal>.swiper-pagination-progressbar {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 130px);
}
.swiper-pagination-progressbar {
    background: #ddd;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #004a98;
}
.swiper-pagination span {
    margin: 0;
}

/*************** COMPANY *************/
#container .company_wrap {
    padding-top: 50px;
}

#container .company_wrap .company_inner {
    padding: 50px 20px;
    text-align: center;
    height: 323px;
    background: #f3f3f3;
    position: relative;
    overflow: hidden;
}
#container .company_wrap .company_inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: 100%;
    background: url(../images/company_bg.png) no-repeat;
    background-size: 100%;
}


#container .company_wrap .company_inner p {
    padding-top: 30px;
    font-size: 14px;
    color: #666;
}

#container .company_wrap .company_inner .btn_wrap {
    margin-top: 30px;
}

#container .company_wrap .company_inner .btn_wrap .btn_more {
    display: inline-block;
    line-height: 40px;
    padding: 0 40px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #004a98;
    border-radius: 20px;
    position: relative;
}

/*************** 무학뉴스 *************/
#container .news_wrap {
    padding-top: 50px;
}
#container .news_wrap .box_wrap {
    padding-top: 30px;
}

#container .box_wrap .news_box {
    width: calc(100% - 30px);
    margin: 15px auto;
}

#container .box_wrap .news_box a {
    display: block;
    border: 1px solid #eee;
    padding: 15px 25px;
    box-shadow: 2px 3px 15px rgb(219 219 219 / 60%);
}
#container .box_wrap .news_box .news_img {
    height: 61px;
    width: 55px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
#container .box_wrap .news_box img {
    width: 100%;
}

#container .box_wrap .news_box h3 {
    display: inline-block;
    font-weight: 500;
}

#container .box_wrap .news_box .news_info:after {
    content: '';
    float: right;
    width: 30px;
    height: 22px;
    background: url(../images/arr_small_right.png) no-repeat 100% 50%;
    background-size: 15px;
    vertical-align: middle;
}
#container .box_wrap .news_box .news_info span {
    font-size: 11px;
    color: #666;
}

/*************** 홍보영상 *************/
#container .video_wrap {
    padding-top: 50px;
}
#container .video_wrap .main_video {
    padding-top: 40px;
}
#container .video_wrap .youtube {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
#container .video_wrap .youtube iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*************** 메인하단메뉴 *************/
#container .menu_wrap {
    padding: 50px 0 30px;
}

#container .menu_wrap .menu {
    text-align: center;
    font-size: 0;
}
#container .menu_wrap .menu li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
#container .menu_wrap .menu li a {
    display: block;
    padding: 20px 0;
}
#container .menu_wrap .menu span {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddf2f7;
    position: relative;
}
#container .menu_wrap .menu span:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    transform: translate(-50%, -50%);
    height: 35px;
    background: url(../images/sprite_bottom_menu_ico.png) no-repeat;
    background-size: auto 32px;
}
#container .menu_wrap .menu li:nth-child(2) span:after {
    background-position: -35px;
}
#container .menu_wrap .menu li:nth-child(3) span:after {
    background-position: -70px;
    width: 40px;
}
#container .menu_wrap .menu li:nth-child(4) span:after {
    background-position: -114px;
    width: 39px;
}

#container .menu_wrap .menu h3 {
    font-weight: 500;
    font-size: 15px;
    padding-top: 15px;
}


/*************** 푸터 *************/
#footer .footer_wrap {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #ddd;
}    

/* 패밀리사이트 */
#footer .footer_wrap .ft_top .family_site {
    width: 170px;
    display: inline-block;
    text-align: center;
    position: relative;
}
#footer .ft_top .btn_family {
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #777;
    outline: none;
    font-size: 15px;
    color: #777;
    text-align: left;
    padding-left: 10px;
    position: relative;
}
#footer .ft_top .btn_family:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 10px;
    width: 28px;
    height: 16px;
    background: url(../images/arr_familysite.png) no-repeat 50%;
    background-size: 14px 8px;
}

#footer .ft_top .family_site .family_list {
    position: absolute;
    left: 0;
    bottom: 34px;
    width: 100%;
    border: 1px solid #777;
    padding: 5px 0;
    background: #fff;
    z-index: 100;
    display: none;
}

#footer .ft_top .family_site .family_list li a {
    display: block;
    padding-left: 15px;
    line-height: 30px;
    text-align: left;
    font-size: 13px;
    color: #666;
}

/* sns아이콘 */
#footer .ft_top .sns {
    padding-top: 15px;
}
#footer .ft_top .sns a {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../images/sprite_sns_ico.png) no-repeat;
    background-size: auto 27px;
    text-indent: -9999px;
    position: relative;
}
#footer .ft_top .sns a + a {
    margin-left: 20px;
}
#footer .ft_top .sns a:nth-child(2) {background-position: -27px;}
#footer .ft_top .sns a:nth-child(3) {background-position: -54px;}

#footer .ft_bottom {
    padding: 25px 15px 35px;
}

#footer .ft_bottom .info_link li {
    display: inline-block;
    position: relative;
}
#footer .ft_bottom .info_link li + li:before {
    content: '';
    position: absolute;
    left: 9px;
    top: 7px;
    width: 1px;
    height: 10px;
    background: #666;
}
#footer .ft_bottom .info_link li + li {
    padding-left: 20px;
}

#footer .ft_bottom .info_link li a {
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

#footer .ft_bottom .info_txt {
    padding-top: 15px;
}
#footer .ft_bottom .info_txt p {
    font-size: 13px;
    color: #666;
}
#footer .ft_bottom .info_txt span {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #666;
    margin: 0 6px;
}
#footer .ft_bottom .info_txt p.copy {
    padding-top: 20px;
    color: #777;
}

/* ***************************서브 페이지************************ */
/* 서브 상단 공통 */
.sub_visual {
    width: 100%;
    height: 180px;
    background: url(../images/sub_bg_intro.png) no-repeat 50%;
    background-size: cover;
}

.sub_visual .sub_tit {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 65px;
}

/* 서브 lnb 공통 */
.lnb {
    margin-top: -45px;
    background: rgba(247, 247, 247, 0.8);
    text-align: center;
    position: relative;
}
.lnb>a {
    display: block;
    line-height: 45px;
    font-weight: 500;
}
.lnb>a:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 17px;
    width: 18px;
    height: 10px;
    background: url(../images/lnb_arr.png)  no-repeat 50%;
    background-size: 9px 5px;
    transition: all 0.3s;
}
.lnb>a.on:after {
    transform: rotate(-180deg);
}
.lnb .lnb_list {
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    padding: 10px;
    background: #eee;
    display: none;
    z-index: 100;
}
.lnb .lnb_list>li>a {
    display: block;
    line-height: 40px;
}
.lnb .lnb_list>li>a.on {
    font-weight: 500;
    background: #fff;
}

/* 콘텐츠공통 */
.contents {
    padding: 0 15px 50px;
}
.contents .tit_wrap {
    padding-top: 50px;
}
.contents .tit_wrap .mini_tit {
    color: #004a98;
    font-size: 12px;
}
.contents .tit_wrap .txt {
    color: #666;
    padding-top: 20px;
}
/************회사소개***********/
/* 기업이념 */
.introduce_wrap .about_img {
    position: relative;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
}
.introduce_wrap .about_img:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 720px;
    height: 400px;
    background: url(../images/company_bg.png) no-repeat 50%;
    background-size: 360px;
    z-index: -1;
}

.introduce_wrap .about_img .about_list li {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #004a98;
    background: #fff;
    font-size: 11px;
    margin: 15px 0;
}
.introduce_wrap .about_img .about_list li + li {
    margin-left: 15px;
}


.introduce_wrap .about_img .about_list li p {
    padding: 18px 0;
}

.introduce_wrap .about_img .about_list li strong {
    font-size: 14px;
    color: #004a98;
}

/* 기업방침 */
.introduce_wrap .business .tab_list {
    text-align: center;
    padding-top: 30px;
}
.introduce_wrap .business .tab_list li {
    display: inline-block;
    margin: 0 2px;
}

.introduce_wrap .business .tab_list li a {
    display: block;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-weight: 500;
    padding: 6px 10px;
}
.introduce_wrap .business .tab_list li.on a {
    background: #004a98;
    border: none;
    border-radius: 15px;
    color: #fff;
}

/* 비즈니스 슬라이더 */
.introduce_wrap .business_wrap {
    padding-top: 30px;
}
.introduce_wrap .business_slider_blind {
    height: 0;
    overflow: hidden;
}
.introduce_wrap .business_slider_blind.active {
    height: auto;
    overflow: visible;
}

.introduce_wrap .business_slider {
    width: 290px;
    padding-bottom: 30px;
}
.introduce_wrap .business_slider .swiper-slide {
    border: 1px solid #ddd;
}
.introduce_wrap .business_slider .swiper-slide .txt {
    text-align: center;
    padding: 30px 15px;
}
.introduce_wrap .business_slider .swiper-slide .txt h2 {
    font-size: 25px;
    font-weight: 700;
    color: #004a98;
}
.introduce_wrap .business_slider .swiper-slide .txt h3 {
    font-size: 17px;
    font-weight: 500;
}
.introduce_wrap .business_slider .swiper-slide .txt>ul {
    padding-top: 15px;
}
.introduce_wrap .business_slider .swiper-slide .txt li {
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    text-indent: -10px;
}
.introduce_wrap .business_slider .swiper-pagination {
    bottom: 10px;
    width: 100%;
}

/************공지사항***********/
/* 검색공통 */
.search_wrap {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}
.search_wrap .btn_search {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    background: url(../images/ico_search.png) no-repeat 50%;
    border: none;
    text-indent: -9999px;
}

.notice_wrap .sub_visual {
    background-image: url(../images/sub_bg_notice.png);
}

.notice_wrap .notice_con_wrap {
    padding-top: 40px;
}
.notice_wrap .notice_box {
    padding-top: 30px;
}

.notice_wrap .text_box li {
    border-top: 2px solid #666;
}
.notice_wrap .text_box li + li {
    border-top: 1px solid #ddd;
}
.notice_wrap .text_box li:last-child {
    border-bottom: 2px solid #666;

}
.notice_wrap .text_box li a{
    display: block;
    padding: 15px 10px;
}
.notice_wrap .text_box p {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice_wrap .text_box .date {
    font-size: 13px;
    color: #666;
    padding-top: 10px;
}

/* 공지사항 네비게이션 */
.notice_wrap .notice_box .pagenation_wrap {
    padding-top: 20px;
    text-align: center;
}
.notice_wrap .pagenation .btn_paging {
    display: inline-block;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    margin: 0 3px;
    background: #fff;
}

.notice_wrap .pagenation .icon {
    text-indent: -9999px;
    position: relative;
}
.notice_wrap .pagenation .icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: url(../images/btn_pagination.png) no-repeat;
}
.notice_wrap .pagenation .prev:after {
    background-position-x: -40px;
}
.notice_wrap .pagenation .next:after {
    background-position-x: -80px;
}
.notice_wrap .pagenation .last:after {
    background-position-x: -120px;
}

.notice_wrap .pagenation .num {
    color: #666;
}
.notice_wrap .pagenation .num.on {
    color: #fff;
    background: #004a98;
}